.root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.formContainer {
  width: 100%;
  max-width: 450px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 18px;
}

.iconSignIn {
  font-family: icomoon;
  color: #000000;
  font-size: 80px;
  opacity: 0.8;
}

.iconSignIn::before {
  content: "\e971";
}

.submitBtn {
  composes: submitBtn from "../../components/Form/form.module.css";
  width: 100%;
  max-width: unset;
}
