.section {
  position: fixed;
  background-color: #000000;
  color: #ffffff;
  width: inherit;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.title {
  font-size: 25px;
  padding: 50px 0;
  text-align: center;
}

.menuBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnContainer {
  width: 100%;
  margin-top: 14px;
  padding: 0 6px;
}

.adminMenuButton {
  composes: root from "../../components/Button/button.module.css";
  width: 100%;
  max-width: unset;
  border-radius: 6px;
  padding: 11px 20px;
}

.adminMenuButtonActive {
  composes: adminMenuButton;
  background-color: #ffffff;
  color: #000000;
}

.adminMenuButtonActive:hover {
  color: #ffffff;
}
