.root {
  display: flex;
  align-items: center;
  padding: 7.5px 17px;
  color: #444444;
  cursor: pointer;
}

.root:first-child {
  padding-top: 15px;
}

.root:last-child {
  padding-bottom: 15px;
}

.activeOption {
  color: #000;
  font-weight: bold;
}
